*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: #4f1df2;
    color: #fff;

}

.logo{
    font-size: 30px;

}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}
.home,.skills,.contact,.about,.blog,.signup{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.signup{
    border: 1px solid #eed51b;
    border-radius: 5px;
}



